<div class="row">
	<div class="span5 offset3">

		<h4>New to Startupedia? Sign up here!</h4>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <form class="form-horizontal">

		  <div class="control-group">	
		  	<div class="controls">
		  		<%= f.email_field :email, :type => "text", :id => "inputEmail", :placeholder => "Email" %>
		  	</div>
		  </div>

		  <div class="control-group">	
		  	<div class="controls">
		  		<%= f.password_field :password, :type => "password", :id => "inputPassword", :placeholder => "Password" %>
		  	</div>
		  </div>

		  <div class="control-group">	
		  	<div class="controls">
		  		<%= f.password_field :password_confirmation, :type => "password", :id => "inputPasswordConfirmation", :placeholder => "Password Confirmation" %>
		  	</div>
		  </div>

		  <button class="btn btn-primary"><%= f.submit "Sign up" %></button>
		
		  <% end %>	

		<%= render "devise/shared/links" %>

	</div>
</div>
